/* *,
*::before,
*::after {
	box-sizing: border-box;
} */

body {
	background-color: rgb(182, 182, 182);
}

.App {
	width: 20rem;
	height: 30rem;
	background-color: #747474;
	margin: 0 auto;
	margin-top: 1rem;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	overflow: hidden;
	border: 1px solid #b1aaaa;
}
